* {
 	box-sizing: border-box;
}

#header-nav {
	background-color: #774249;
	width: 100%;
}
.col-xs-12 {
	 border: 1px solid black;
	 height: 1000px;
	 width: auto;
	 background-color: #535575;
	 margin: 10px 20px 10px 20px;
	 float: none;
	 position: relative;
}
.col-xs-12 section  {
	 font-color: #FFFFFF;
}

p {
	padding: 20px;
}



.container-fluid {
}
