/********** Styles **********/
* {
  box-sizing: border-box;
  padding: 10px;
}
div#container {
    position: relative;


}

.col-lg-1 {
  position: relative;

}
.col-lg-2 {
  position: relative;
  
}
.col-lg-3 {
  position: relative;
}

.numbers {
  color: #FFFF99;
 border: 1px solid black;
 margin: auto;
}

.one {
  position: absolute;
  top: 40px;
  left: 72.5%;
  background-color: #449292;
}


.two {
  position: absolute;
  top: 40px;
  left: 71.5%;
   background-color: #993372;

}

.three {
  position: absolute;
  top: 40px;
  left: 68%;
   background-color: #110033;

}



h1 {
  margin-bottom: auto;
  color: #A599FF;
  text-align: center;


}


p {
  border: 1px solid black;
  background-color: #A599FF;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: #FFF;
  text-align: left;
  padding: 50px 10px 10px 20px;
}

.row {
  width: 100%;

}

/* Simple Responsive Framework. */

/********** Large devices only **********/
@media (min-width: 992px) {
    div.col-lg-1 {
    width: 33.33%;
    float: left;
  }  
  div.col-lg-2 {
    width: 33.33%;
    float: left;

  }
  div.col-lg-3 {
    width: 33.33%;
    float: left;

    
  }
}
  
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  div.col-md-3 {
    width: 50%;
    float: left;
  }
  div.col-md-6 {
    width: 50%;
    float: left;
  }
  div.col-md-12 {
    width: 100%;
    float: right;
  }
  
/********** Mobile devices only **********/
  @media (max-width: 767px) {
    div.col-sm-12 {
      width: 100%;      
    }
  }
 
